.login{
    margin: 40px;
}

.center{
    
    display: flex;
    justify-content: center;
    margin: 40px;
    
}

.form{
    width: 50%; 
    margin-top: 28px;

}

.success{
    padding: 20px;
    font-size: 15px;
    color: green;

}

@media screen and (max-width: 600px) {
    .form {
      width: 100%;
    }
  }
  
  
  
  
  
  
  